version: 2.1
orbs:
  architect: giantswarm/architect@6.12.0
jobs:
  template-chart:
    docker:
      - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
      - checkout
      - run: |-
          cd helm/loki
          helm dep up
          helm template .

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - template-chart:
          name: "template-chart-test"
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: "package and push loki chart"
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "loki"
          ct_config: ".circleci/ct-config.yaml"
          persist_chart_archive: true
          requires:
            - "template-chart-test"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: "package and push loki chart to control-plane-catalogs"
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "loki"
          ct_config: ".circleci/ct-config.yaml"
          requires:
            - "template-chart-test"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
      
      - architect/run-tests-with-ats:
          name: run-tests-with-ats
          requires:
            - "package and push loki chart"
          filters:
            branches:
              ignore:
                - main

