{{- if and .Values.loki.enabled (.Values.loki.loki.storage.provisioning.enabled) (include "loki.storage.provisioning.isAWS" .) }}
{{- $region := .Values.loki.loki.storage.provisioning.region }}
{{- $observeOnly := .Values.loki.loki.storage.provisioning.observeOnly }}
{{- $tags := include "loki.storage.tags" . | fromYaml }}
{{- range $bucketType := list "chunks" "ruler" "admin" }}
---
apiVersion: s3.aws.upbound.io/v1beta2
kind: Bucket
metadata:
  name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
    loki.giantswarm.io/bucket-type: {{ $bucketType }}
  annotations:
    crossplane.io/external-name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    region: {{ $region }}
    tags:
      {{- range $tags }}
      {{ .key }}: {{ .value | quote }}
      {{- end }}
      Name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}
      loki.giantswarm.io/bucket-type: {{ $bucketType }}
  providerConfigRef:
    name: default
---
{{- if .Values.loki.loki.storage.provisioning.lifecycle.enabled }}
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketLifecycleConfiguration
metadata:
  name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}-lifecycle
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
    loki.giantswarm.io/bucket-type: {{ $bucketType }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}
    region: {{ $region }}
    rule:
      - id: expire-old-logs
        status: Enabled
        expiration:
          - days: {{ .Values.loki.loki.storage.provisioning.lifecycle.retentionDays }}
        filter:
          - prefix: ""
  providerConfigRef:
    name: default
{{- end }}
---
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketPublicAccessBlock
metadata:
  name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}-public-access-block
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
    loki.giantswarm.io/bucket-type: {{ $bucketType }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) }}
    region: {{ $region }}
    blockPublicAcls: true
    blockPublicPolicy: true
    ignorePublicAcls: true
    restrictPublicBuckets: true
  providerConfigRef:
    name: default
{{- end }}
{{- end }}
