{{- if and .Values.loki.enabled (.Values.loki.loki.storage.provisioning.enabled) (include "loki.storage.provisioning.isAWS" .) }}
{{- $region := .Values.loki.loki.storage.provisioning.region }}
{{- $observeOnly := .Values.loki.loki.storage.provisioning.observeOnly }}
{{- $tags := include "loki.storage.tags" . | fromYaml }}
{{- /* Build a map of unique bucket names to their types */ -}}
{{- $bucketMap := dict -}}
{{- range $bucketType := list "chunks" "ruler" "admin" -}}
  {{- $bucketName := include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) -}}
  {{- $existingTypes := index $bucketMap $bucketName | default list -}}
  {{- $_ := set $bucketMap $bucketName (append $existingTypes $bucketType) -}}
{{- end -}}
{{- /* Iterate over unique buckets */ -}}
{{- range $bucketName, $bucketTypes := $bucketMap }}
---
apiVersion: s3.aws.upbound.io/v1beta2
kind: Bucket
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    region: {{ $region }}
    tags:
      {{- range $tag := $tags }}
      {{ $tag.key }}: {{ $tag.value | quote }}
      {{- end }}
  providerConfigRef:
    name: default
---
{{- if $.Values.loki.loki.storage.provisioning.lifecycle.enabled }}
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketLifecycleConfiguration
metadata:
  name: {{ $bucketName }}-lifecycle
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    region: {{ $region }}
    rule:
      - id: expire-old-logs
        status: Enabled
        expiration:
          - days: {{ $.Values.loki.loki.storage.provisioning.lifecycle.retentionDays }}
        filter:
          - prefix: ""
  providerConfigRef:
    name: default
{{- end }}
---
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketPublicAccessBlock
metadata:
  name: {{ $bucketName }}-public-access-block
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    region: {{ $region }}
    blockPublicAcls: true
    blockPublicPolicy: true
    ignorePublicAcls: true
    restrictPublicBuckets: true
  providerConfigRef:
    name: default
{{- end }}
{{- end }}
