{{- if and .Values.loki.enabled (.Values.loki.loki.storage.provisioning.enabled) (include "loki.storage.provisioning.isAWS" .) }}
{{- $region := .Values.loki.loki.storage.provisioning.region }}
{{- $observeOnly := .Values.loki.loki.storage.provisioning.observeOnly }}
{{- $tagsObj := include "loki.storage.tags" . | fromYaml }}
{{- $tags := $tagsObj.tags | default list }}
{{- $providerConfigRef := .Values.loki.loki.storage.provisioning.providerConfigRef }}
{{- $isChinaRegion := hasPrefix "cn-" $region }}
{{- /* Build a map of unique bucket names to their types */ -}}
{{- $bucketMap := dict -}}
{{- range $bucketType := list "chunks" "ruler" "admin" -}}
  {{- $bucketName := include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) -}}
  {{- $existingTypes := index $bucketMap $bucketName | default list -}}
  {{- $_ := set $bucketMap $bucketName (append $existingTypes $bucketType) -}}
{{- end -}}
{{- /* Iterate over unique buckets */ -}}
{{- range $bucketName, $bucketTypes := $bucketMap }}
---
apiVersion: s3.aws.upbound.io/v1beta2
kind: Bucket
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    forceDestroy: false
    objectLockEnabled: false
    region: {{ $region }}
    tags:
      {{- range $tag := $tags }}
      {{ index $tag "key" }}: {{ index $tag "value" | quote }}
      {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
---
{{- if $.Values.loki.loki.storage.provisioning.lifecycle.enabled }}
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketLifecycleConfiguration
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    region: {{ $region }}
    rule:
      - id: Expiration
        status: Enabled
        expiration:
          - days: {{ $.Values.loki.loki.storage.provisioning.lifecycle.retentionDays }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
{{- end }}
---
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketPolicy
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    policy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Sid": "EnforceSSLOnly",
            "Effect": "Deny",
            "Principal": "*",
            "Action": ["s3:*"],
            "Resource": [
              "arn:aws{{- if $isChinaRegion }}-cn{{- end }}:s3:::{{ $bucketName }}",
              "arn:aws{{- if $isChinaRegion }}-cn{{- end }}:s3:::{{ $bucketName }}/*"
            ],
            "Condition": {
              "Bool": {
                "aws:SecureTransport": "false"
              }
            }
          }
        ]
      }
    region: {{ $region }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
---
apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketPublicAccessBlock
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    bucketRef:
      name: {{ $bucketName }}
    region: {{ $region }}
    blockPublicAcls: true
    blockPublicPolicy: true
    ignorePublicAcls: true
    restrictPublicBuckets: true
  providerConfigRef:
    name: {{ $providerConfigRef }}
{{- end }}
{{- end }}
