{{- if .Values.loki.enabled }}
{{- if and .Values.loki.networkPolicy.enabled (eq .Values.loki.networkPolicy.flavor "cilium") }}
apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  annotations:
    ignore-check.kube-linter.io/sorted-keys: "imported lists from upstream chart can't be sorted (`loki.labels`)"
  labels:
    {{- include "loki.labels" . | nindent 4 }}
  name: {{ include "loki.name" . }}-ingress-acme-challenge
  namespace: {{ .Release.Namespace }}
spec:
  endpointSelector:
    matchLabels:
      acme.cert-manager.io/http01-solver: "true"
  ingress:
  - toPorts:
    - ports:
      - port: "8089"
        protocol: TCP
{{- end }}
{{- end }}
