{{- if and .Values.loki.enabled .Values.crossplane.enabled (include "loki.crossplane.isAWS" .) .Values.crossplane.aws.enabled .Values.crossplane.aws.iam.enabled }}
{{- $roleName := .Values.crossplane.aws.iam.roleName }}
{{- $namespace := .Release.Namespace }}
{{- $tags := (include "loki.crossplane.tags" . | fromYaml).tags | default list }}
{{- $oidcProvider := include "loki.crossplane.oidcProvider" . }}
{{- $isChinaRegion := hasPrefix "cn-" .Values.crossplane.region }}
{{- $bucketName := .Values.crossplane.aws.bucket.name }}
---
apiVersion: iam.aws.upbound.io/v1beta1
kind: Role
metadata:
  name: {{ $roleName }}
  namespace: {{ $namespace }}
  labels:
    {{- include "loki.labels" . | nindent 4 }}
    app.kubernetes.io/component: iam
  annotations:
    crossplane.io/external-name: {{ $roleName }}
spec:
  managementPolicies:
    {{- if .Values.crossplane.observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    assumeRolePolicy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Federated": "arn:aws{{- if $isChinaRegion }}-cn{{- end }}:iam::{{ include "loki.crossplane.awsAccountId" . }}:oidc-provider/{{ $oidcProvider }}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
              "StringEquals": {
                "{{ $oidcProvider }}:sub": "system:serviceaccount:{{ $namespace }}:{{ .Values.loki.serviceAccount.name | default "loki" }}",
                "{{ $oidcProvider }}:aud": "sts.amazonaws.com{{- if $isChinaRegion }}.cn{{- end }}"
              }
            }
          }
        ]
      }
    inlinePolicy:
      - name: {{ $roleName }}
        policy: |
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Effect": "Allow",
                "Action": [
                  "s3:ListBucket",
                  "s3:PutObject",
                  "s3:GetObject",
                  "s3:DeleteObject"
                ],
                "Resource": [
                  "arn:aws{{- if $isChinaRegion }}-cn{{- end }}:s3:::{{ $bucketName }}",
                  "arn:aws{{- if $isChinaRegion }}-cn{{- end }}:s3:::{{ $bucketName }}/*"
                ]
              },
              {
                "Effect": "Allow",
                "Action": [
                  "s3:GetAccessPoint",
                  "s3:GetAccountPublicAccessBlock",
                  "s3:ListAccessPoints"
                ],
                "Resource": "*"
              }
            ]
          }
    {{- if $tags }}
    tags:
      {{- range $tag := $tags }}
      {{ index $tag "key" }}: {{ index $tag "value" | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ .Values.crossplane.providerConfigRef }}
{{- end }}
