apiVersion: v2
name: loki
description: Helm chart for Grafana Loki in microservices mode
type: application
appVersion: 2.1.0
version: 0.21.2
home: https://grafana.github.io/helm-charts
sources:
  - https://github.com/grafana/loki
  - https://grafana.com/oss/loki/
  - https://grafana.com/docs/loki/latest/
  - https://github.com/grafana/helm-charts/
  - https://github.com/giantswarm/grafana-helm-charts-upstream
  - https://github.com/giantswarm/loki-app
icon: https://grafana.com/docs/loki/latest/logo_and_name.png
upstreamChartURL: https://github.com/grafana/helm-charts/
maintainers:
  - name: unguiculus
  - name: Giant Swarm applications team
    url: https://github.com/giantswarm/loki-app
restrictions:
  namespaceSingleton: true
annotations:
  application.giantswarm.io/team: "halo"
