{{- if and .Values.loki.enabled (.Values.loki.loki.storage.provisioning.enabled) (include "loki.storage.provisioning.isAzure" .) }}
{{- $location := include "loki.azure.location" . }}
{{- $resourceGroup := include "loki.azure.resourceGroup" . }}
{{- $subscriptionId := include "loki.azure.subscriptionId" . }}
{{- $observeOnly := .Values.loki.loki.storage.provisioning.observeOnly }}
{{- $tagsObj := include "loki.azure.tags" . | fromYaml }}
{{- $tags := $tagsObj }}
{{- $providerConfigRef := .Values.loki.loki.storage.provisioning.providerConfigRef }}
{{- $isPrivate := include "loki.azure.isPrivateCluster" . | eq "true" }}
{{- $vnetName := include "loki.azure.vnetName" . }}
{{- $subnetName := include "loki.azure.subnetName" . }}
{{- /* Build a map of unique bucket names to their types */ -}}
{{- $bucketMap := dict -}}
{{- range $bucketType := list "chunks" "ruler" "admin" -}}
  {{- $bucketName := include "loki.storage.bucketName" (dict "root" $ "bucketType" $bucketType) -}}
  {{- $existingTypes := index $bucketMap $bucketName | default list -}}
  {{- $_ := set $bucketMap $bucketName (append $existingTypes $bucketType) -}}
{{- end -}}
{{- /* Iterate over unique buckets */ -}}
{{- range $bucketName, $bucketTypes := $bucketMap }}
{{- $storageAccountName := include "loki.azure.storageAccountName" (dict "bucketName" $bucketName) }}
---
apiVersion: storage.azure.upbound.io/v1beta2
kind: Account
metadata:
  name: {{ $storageAccountName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $storageAccountName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    resourceGroupName: {{ $resourceGroup }}
    location: {{ $location }}
    accountKind: BlobStorage
    accountReplicationType: LRS
    accountTier: Standard
    allowBlobPublicAccess: false
    enableHttpsTrafficOnly: true
    minTlsVersion: TLS1_2
    publicNetworkAccessEnabled: {{ not $isPrivate }}
    {{- if $tags }}
    tags:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
  writeConnectionSecretToRef:
    name: {{ $bucketName }}
    namespace: {{ $.Release.Namespace }}
---
apiVersion: storage.azure.upbound.io/v1beta1
kind: Container
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    storageAccountNameSelector:
      matchLabels:
        app.kubernetes.io/component: storage
        app.kubernetes.io/name: {{ include "loki.name" $ }}
    containerAccessType: private
    {{- if $tags }}
    metadata:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
---
{{- if $.Values.loki.loki.storage.provisioning.lifecycle.enabled }}
apiVersion: storage.azure.upbound.io/v1beta1
kind: ManagementPolicy
metadata:
  name: {{ $storageAccountName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $storageAccountName }}-lifecycle
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    storageAccountIdSelector:
      matchLabels:
        app.kubernetes.io/component: storage
        app.kubernetes.io/name: {{ include "loki.name" $ }}
    rule:
      - name: DeleteOldBlobs
        enabled: true
        filters:
          blobTypes:
            - blockBlob
        actions:
          baseBlob:
            - deleteBlobAfterDaysSinceModificationGreaterThan: {{ $.Values.loki.loki.storage.provisioning.lifecycle.retentionDays }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
{{- end }}
---
{{- if $isPrivate }}
apiVersion: network.azure.upbound.io/v1beta1
kind: PrivateEndpoint
metadata:
  name: {{ $bucketName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: {{ $bucketName }}
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    location: {{ $location }}
    resourceGroupName: {{ $resourceGroup }}
    subnetIdSelector:
      matchLabels:
        azure.giantswarm.io/cluster-name: {{ $.Values.loki.loki.storage.provisioning.clusterName }}
        azure.giantswarm.io/subnet-name: node-subnet
    privateDnsZoneGroup:
      - name: default
        privateDnsZoneIdsRefs:
          - name: privatelink-blob-core-windows-net
    privateServiceConnection:
      - name: {{ $storageAccountName }}-psc
        isManualConnection: false
        privateConnectionResourceIdSelector:
          matchLabels:
            app.kubernetes.io/component: storage
            app.kubernetes.io/name: {{ include "loki.name" $ }}
        subresourceNames:
          - blob
    {{- if $tags }}
    tags:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
---
apiVersion: network.azure.upbound.io/v1beta1
kind: PrivateDNSZone
metadata:
  name: privatelink-blob-core-windows-net
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: privatelink.blob.core.windows.net
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    resourceGroupName: {{ $resourceGroup }}
    {{- if $tags }}
    tags:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
---
apiVersion: network.azure.upbound.io/v1beta1
kind: PrivateDNSZoneVirtualNetworkLink
metadata:
  name: giantswarm-observability
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "loki.labels" $ | nindent 4 }}
    app.kubernetes.io/component: storage
  annotations:
    crossplane.io/external-name: giantswarm-observability
spec:
  managementPolicies:
    {{- if $observeOnly }}
    - Observe
    {{- else }}
    - "*"
    {{- end }}
  forProvider:
    privateDnsZoneNameSelector:
      matchLabels:
        app.kubernetes.io/component: storage
    resourceGroupName: {{ $resourceGroup }}
    virtualNetworkIdSelector:
      matchLabels:
        azure.giantswarm.io/cluster-name: {{ $.Values.loki.loki.storage.provisioning.clusterName }}
        azure.giantswarm.io/vnet-name: {{ $vnetName }}
    registrationEnabled: false
    {{- if $tags }}
    tags:
      {{- range $key, $value := $tags }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfigRef }}
{{- end }}
{{- end }}
{{- end }}
